In [1]:
import pandas as pd

In [2]:
Jul = pd.read_csv("Data/JC-202107-citibike-tripdata.csv", sep=',')
Aug = pd.read_csv("Data/JC-202108-citibike-tripdata.csv", sep=',')
Sep = pd.read_csv("Data/JC-202109-citibike-tripdata.csv", sep=',')
Oct = pd.read_csv("Data/JC-202110-citibike-tripdata.csv", sep=',')
Nov = pd.read_csv("Data/JC-202111-citibike-tripdata.csv", sep=',')
Dec = pd.read_csv("Data/JC-202112-citibike-tripdata.csv", sep=',')
Jan = pd.read_csv("Data/JC-202201-citibike-tripdata.csv", sep=',')
Feb = pd.read_csv("Data/JC-202202-citibike-tripdata.csv", sep=',')
Mar = pd.read_csv("Data/JC-202203-citibike-tripdata.csv", sep=',')
Apr = pd.read_csv("Data/JC-202204-citibike-tripdata.csv", sep=',')
May = pd.read_csv("Data/JC-202205-citibike-tripdata.csv", sep=',')
Jun = pd.read_csv("Data/JC-202206-citibike-tripdata.csv", sep=',')

In [3]:
Jul.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C9446233AFAB8896,classic_bike,2021-07-15 19:27:25,2021-07-15 19:27:35,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member
1,0C3D69370BE39992,electric_bike,2021-07-22 06:41:54,2021-07-22 06:42:03,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member
2,3B0390B706281176,classic_bike,2021-07-19 06:36:13,2021-07-19 06:38:18,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member
3,9AFBC07247ABE507,classic_bike,2021-07-08 06:33:45,2021-07-08 06:35:53,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member
4,ADB073F7FFC372D3,classic_bike,2021-07-21 07:33:49,2021-07-21 08:00:14,14 St Ferry - 14 St & Shipyard Ln,HB202,Columbus Dr at Exchange Pl,JC106,40.752961,-74.024353,40.716870,-74.032810,casual

In [4]:
data = pd.concat([Jul, Aug, Sep, Oct, Nov, Dec, Jan, Feb, Mar, Apr, May, Jun])
# data
data.to_csv(r'Citibike_Combined_Data/Citibike_Combined_Data.csv', index = False)

In [5]:
Citibike_Combined_Data = pd.read_csv("Citibike_Combined_Data/Citibike_Combined_Data.csv", sep=',')
Citibike_Combined_Data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C9446233AFAB8896,classic_bike,2021-07-15 19:27:25,2021-07-15 19:27:35,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member
1,0C3D69370BE39992,electric_bike,2021-07-22 06:41:54,2021-07-22 06:42:03,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member
2,3B0390B706281176,classic_bike,2021-07-19 06:36:13,2021-07-19 06:38:18,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member
3,9AFBC07247ABE507,classic_bike,2021-07-08 06:33:45,2021-07-08 06:35:53,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member
4,ADB073F7FFC372D3,classic_bike,2021-07-21 07:33:49,2021-07-21 08:00:14,14 St Ferry - 14 St & Shipyard Ln,HB202,Columbus Dr at Exchange Pl,JC106,40.752961,-74.024353,40.716870,-74.032810,casual

In [6]:
print(len(Citibike_Combined_Data))

827209

In [7]:
Citibike_Combined_Data.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object